html {
  box-sizing: border-box;
  
}
*,
*::before,
*::after {
  box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primari-text-color);
 font-family: 'Gilroy-Medium', sans-serif;

}
:root {
  --primari-text-color: rgba(38, 40, 50, 1);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 527px;
  padding-left: 26px;
  padding-right: 30px;
 
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
 a { 
    text-decoration: none; 
   } 

.header-page{
  background: #FFFFFF;
  width: 100%;
  padding: 26px 47px;
  border-bottom: 1px solid rgba(228, 232, 238, 1);
;
}
.header-page__webside{
  display: flex;
  flex-direction: column;
}
.header-page__nav{
  display: flex;
  justify-content: space-between;
   align-items: center;
    justify-content: space-between;
    align-content: center;
}
.header-logo{
  font-weight: 900;
font-size: 24px;
line-height: 1.25;

font-family: 'Gilroy-Bold', sans-serif;
letter-spacing: 0.24em;
text-transform: uppercase;

color: #4173CC;
margin-bottom: 7px;
}

.header-page__text{
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 1.15;
color:rgba(65, 115, 204, 1);
}
.header-page__link{
  color: rgba(38, 40, 50, 1);
font-family: 'Gilroy-Bold', sans-serif;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.15px;
}
.header-page-title{
  padding-top: 39px;
    padding-bottom: 21px;
}
.header-title{
  font-size: 24px;
line-height: 1.21;
font-family: 'Gilroy-Bold', sans-serif;
color: rgba(38, 40, 50, 1);
margin-bottom: 16px;
}
.header-info{
width: 408px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.13;
color: rgba(38, 40, 50, 1);
}

.section-page{
padding-top: 30px;
    padding-bottom: 32px;
        margin-bottom: 20px;
        background: #FFFFFF;
}
.section-title{
font-family: 'Gilroy-Bold', sans-serif;
font-size: 18px;
line-height: 1.33;
margin-bottom: 20px;
color: rgba(36, 36, 36, 1);
}
.section-info{
  font-size: 16px;
line-height: 1.50;
font-family: 'Gilroy-Bold', sans-serif;
margin-bottom: 20px;
color: rgba(36, 36, 36, 1);
}
.section-contacts{
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.15;
  color: rgba(38, 40, 50, 1);
}
.section-list .section-list-item{
  margin-bottom: 12px;
}
.section-list-item{
  margin-bottom: 12px;
}
.section-list .section-list-item:last-child{
  margin-bottom: 0px;
}
.section-list{
  margin-bottom: 20px;
}
.bold{
  font-family: 'Gilroy-Bold', sans-serif;
}

.section-order{
  padding-top: 18px;
 padding-bottom: 17px;
 background: #FFFFFF;
}
.section-order-title{
font-size: 18px;
line-height: 1.22;
font-family: 'Gilroy-Bold', sans-serif;
margin-bottom: 18px;
color: rgba(38, 40, 50, 1);
}
.section-order-container{
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  border: 1px solid rgba(228, 232, 238, 1);
  margin-bottom: 10px;
}
.section-order-container:last-child{
  margin-bottom: 0px;
}
.section-order-sneakers{
font-weight: 500;
font-size: 12px;
line-height: 1.17;
color: rgba(38, 40, 50, 1);
margin-bottom: 13px;
margin-right: 5px;
}
.section-order-wrapper{
  display: flex;
}
.section-order-ul{
 width: 222px;
}

.crossed{
  text-decoration: line-through;
  color: rgba(125, 132, 144, 1);
  font-family: 'Gilroy-Medium', sans-serif;
}
.red{
  color: rgba(255, 0, 31, 1);
}
.section-img{
  margin-right: 9px;
}
.section-end{
      padding-bottom: 308px;
}
.bcg{
  width: 100%;
  background: #e9ebeb5e;
}
.light{
  color:  rgba(125, 132, 144, 1);

}
